@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-primary: #3b82f6;
}

body {
  @apply bg-brand-dark text-white;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
